@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i');

/* Prevent layout shift from overflow and make sizing predictable */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

/* Make all images scale down on smaller screens */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*this sets the height of the header and image*/
header {
  background-color:#0B1C51;
  margin-bottom: 40px;
  margin-top: 0;
}


/*Format Explore button in Nav*/
header h2 a {
  color: white;
  font-family: Montserrat, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  font-size: 52px;
  text-align: center;
}

/*Responsive Nav*/
header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding-left: 0px;
  list-style: none;
  font-family: Montserrat, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*this removes empty space round the cover photo.*/ 
body {
  margin: 0px;
}

/*main profile picture set to a circle*/
main img {
  border-radius: 50%;
  padding: 0px;
}

/*Sets group/parent and items/children*/

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

.item-triple {
  flex: 3;
  margin: 10px;
}


/*Colors and fonts for the name heading in the header-Dimitry Alriche*/
main h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Montserrat, 'Times New Roman', Times, serif; 
  font-size: 35px;
  color: black; 
  text-transform: uppercase;
}





/*centers the h2 headings on the page as well as the explore button in h4*/
h2, h4 {
  text-align: center;

}


/*Sets font fo all items in main*/
main {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

/*centers profile photo in h3*/
main h3 {
  text-align: center;
}

/*Color for links within the main*/
main a {
  color: #0B1C51;
}
/*color for click here link*/
.about-me a {
  color: white;
}



main p {
  text-align: center;
  padding: 15px 10px;
}

/*Removing Padding from main p above for single listings under Services, Skills used, etc etc*/
.mainpexcept {
  padding-bottom: 0;
}

.introh3 {
  margin: 0;
  padding: 0;
}

/*centers the LinkedIn and GitHub icons in h6*/
.center-socialmedia-icons {
  text-align: center; 
  padding: 0px
}

/*this brings all of the list items to the center*/
main ol li, main ul li {
  text-align: center;
  list-style-position: inside;
}

/*this sets the footer*/
footer {
  background-color: black;
  padding: 0px;
  height: 200px;

}
/*This makes the text in the footer white against the black footer background*/
.white-footer-text {
  font-family: Montserrat, serif;
  color: white;
  text-align: center; 
}

/*Contact form*/
form {
  padding-right: 10px;
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

section.bg-callout1 {
  background-color:  #fc683a;
}

section.bg-callout2 {
  background-color:  #0B1C51;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;

}

section.bg-callout3 {
  color: white;
  background-color: black;
  padding: 5px 0;
}

/*Parent Child Container for Portfolio*/
/* .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemc {
  flex: 1;
  height: 100px;
  margin-bottom: 2%; /* (100-32*3)/2
} */

/*removes space at the top of the header on mobile.*/
h2.explore {
  margin-top: 0px;
  padding: 0;
}

@media all and (min-width:800px) {
  header h1 {
    margin: 14px 0;
    padding: 0;
    font-size: 48px;
  }

  .groupc {
    flex-direction: column;
  }
  .group {
    flex-direction: row;
  }
  .item p {
    margin: 10px;
    
}
.item img {
  margin: 20px 0;
}
}


@media all and (min-width:800px) {
  main h1 {
    font-size: 90px;
  }
}

/*The future is now style*/
/*header h3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 25px;
  padding-top: 250px;
  color:  black;
  margin: 0px;
}*/

/*header h4 a {
  display: flex;
  flex-direction: column;
  background-color: black; 
  color: #fc683a;
  text-decoration: none;
  font-family: Montserrat, Arial, Serif;
  padding: 15px 20px;
  border-radius: 20px;
}

/*Nav bar Buttons*/
header nav li a {
  text-decoration: none;
  background-color: black;
  color: #fc683a;
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 0 5px 0 0;
  
}

header nav ul li:last-child a {
  margin-right: 0;
}

@media all and (min-width:800px) {
  header nav li a {
    display: flex;
    font-size: 25px;
    padding: 15px 20px;
    border-radius: 27px;
    margin: 5px 5px 0 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

  }

  
  /*a:visited {
    color: blue;
  }*/
  a:hover {
    color: red;
  }
  a:active {
    color: pink;
  }
  /*header h4 a {flex-direction: row;}
  header h3 {flex-direction: row;}
  header h1 {flex-direction: row;}*/

}

@media all and (min-width:800px) {
  .container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
}
  .itemc {
    /* flex: 0 32%; */
    /* height: 800px; */
    width: 48%;
    /* padding-bottom: 48% ; */
    margin-bottom: 2%; /* (100-32*3)/2 */
    position: relative;
    /* flex-direction: row; */
}
h2.explore {
  margin-top: 20px;
  margin-bottom: 20px;
}
}

/*Screens of projects*/
img.screens {
  border-radius: 0;
  padding: 15px 10px;
  width: 100%;
  height: auto;
  /* padding-top: 5%; */

  
}

/*
a:hover > img.screens {
  display:block;
  height: 400px;
  width: 300px;
  border-radius: 0;
  opacity: 1;
  background-color: black;

  content: '';
/* background: url('YOUR IMAGE LINK HERE'); */ /*
  background-size:contain;
  background-repeat:no-repeat;
width: 395px; 
left: 40vw; 
height: 734px; 
margin-top:0px;
position:sticky;
opacity:1;
transition: transform .4s cubic-bezier(.86,0,.07,1),opacity .4s cubic-bezier(.86,0,.07,1);
   transform: translate3d(.33333vh,-11.66667vh,0);
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  
} */

/*h2 services*/
h2.services {
  padding-top: 19px;
} 

/* Mobile spacing so content doesn't feel stuck to the edge */
@media (max-width: 799px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 500px) {
  header nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}







